.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.buttonContainer{
    width:140px;
    margin-left: 20px;
}

.loginContainer {
    display: flex;
    align-items: center;
}