.card {
    margin:20px auto;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.buttonContainer {
    width: 220px;
}

.emptyCourseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}